@inject NavigationManager NavigationManager

<button @onclick="GoToHome"
        class="home-button">
    <span class="accent-dot"></span>
    Milkcrate Direct
</button>

@code {
    private void GoToHome()
    {
        NavigationManager.NavigateTo("");
    }
}
